/* start global */
* {
  cursor: auto;
}
:root {
  --second-hover-color: #af2a2a;
  --main-hover-color: #cc3333;
  --transition: 0.3s;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
ul {
  padding: 0;
}
/* end global */
/*start aside */
aside {
  z-index: 3000;
  transform: translateX(-250px);
}
aside.no-animation {
  animation: none !important;
}
aside .links {
  width: 250px;
}
aside .a-nav {
  width: 75px;
}
aside .top li,
aside .top li a {
  color: white;
  transition: var(--transition);
  cursor: pointer;
}
aside .top li:hover,
aside .top li a:hover {
  color: var(--main-hover-color);
}
aside .bottom .social li {
  cursor: pointer;
}
aside .created span {
  color: var(--main-hover-color);
  transition: var(--transition);
  cursor: pointer;
}
aside .created span:hover {
  color: var(--second-hover-color);
}
aside .a-nav i {
  cursor: pointer;
}
aside.closed {
  animation: aside-closed 1s forwards;
}
aside.open {
  animation: aside-open 1s forwards;
}
@keyframes aside-closed {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-250px);
  }
}
@keyframes aside-open {
  from {
    transform: translateX(-250px);
  }
  to {
    transform: translateX(0);
  }
}
/* end aside */
main {
  width: calc(100% - 75px);
  margin-left: auto;
}
/* start movies */
.search .form-control:focus {
  border-color: white;
  box-shadow: none;
}
.search .form-control::placeholder {
  color: gray;
}
.fa-star,
.fa-star-half-stroke {
  color: rgb(255, 208, 0);
}
.movies .num-rating {
  width: 45px;
  height: 45px;
  font-size: 20px;
  font-weight: 200;
  border-radius: 50%;
  border: 2px solid seagreen;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movies .img-container img {
  transition: 1s;
}
.movies .img-container:hover img {
  transform: rotate(8deg) scale(1.2);
  filter: blur(3px);
}
.movies .img-container .img-hover {
  background-color: rgba(0, 0, 0, 0.434);
  opacity: 0;
  transition: 1s;
}
.movies .img-container:hover .img-hover {
  opacity: 1;
}
.movies .img-container .img-hover h3,
.movies .img-container .img-hover > p {
  transform: translateY(-10px);
  transition: 1s;
}
.movies .img-container:hover .img-hover h3,
.movies .img-container:hover .img-hover > p {
  transform: translateY(0);
}
.movies .img-container .img-hover .rating {
  transform: translateY(10px);
  transition: 1s;
}
.movies .img-container:hover .img-hover .rating {
  transform: translateY(0);
}
/* end movies */

/* start form */
form .form-control::placeholder {
  color: gray;
  text-align: center;
}
form .form-control {
  border-color: transparent transparent white transparent;
  border-radius: 0;
  color: white;
}
form .form-control:focus {
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none;
  border-bottom-color: white;
  color: white;
}
form button.btn {
  color: white;
  background-color: rgb(13, 13, 13);
}
form button.btn:hover {
  color: rgb(13, 13, 13);
  background-color: white;
}
form button.btn:focus {
  border: none;
  background-color: white;
  color: rgb(13, 13, 13);
}
form .form-control.is-invalid {
  border-color: transparent transparent red transparent;
  background-image: none;
}
form .form-control.is-invalid:focus {
  box-shadow: none;
}
form .form-control.is-valid {
  border-color: transparent transparent white transparent;
  background-image: none;
}
form .form-control.is-valid:focus {
  box-shadow: none;
  border-color: transparent transparent white transparent;
}
/* end form */
